### Import libraries and local code

See notebook_importing_code for more info.

In [1]:
import pandas as pd
import os

In [2]:
from code.custom_functions import calbmi

### Import data and process it

#### Path to the correct file

In [3]:
filename = "weight-height.csv"

In [4]:
path = os.path.dirname(os.getcwd()) + "/data"

In [5]:
filepath = path + "/raw_data/" + filename

In [6]:
filepath

'/home/app/notebook/data/raw_data/weight-height.csv'

#### Make dataframe from the csv

In [8]:
df = pd.read_csv(filepath)

In [9]:
df['height_m'] = df['Height'] / 39.37
df['weight_kg'] = df['Weight'] / 2.205

In [10]:
df.head()

  Gender     Height      Weight  height_m   weight_kg
0   Male  73.847017  241.893563  1.875718  109.702296
1   Male  68.781904  162.310473  1.747064   73.610192
2   Male  74.110105  212.740856  1.882400   96.481114
3   Male  71.730978  220.042470  1.821970   99.792504
4   Male  69.881796  206.349801  1.775001   93.582676

In [11]:
df['bmi'] = calbmi(df['height_m'], df['weight_kg'])

In [12]:
df.head()

  Gender     Height      Weight  height_m   weight_kg   bmi
0   Male  73.847017  241.893563  1.875718  109.702296  31.2
1   Male  68.781904  162.310473  1.747064   73.610192  24.1
2   Male  74.110105  212.740856  1.882400   96.481114  27.2
3   Male  71.730978  220.042470  1.821970   99.792504  30.1
4   Male  69.881796  206.349801  1.775001   93.582676  29.7

#### Path to the output file

In [13]:
export_filename = 'data.csv'
export_path = path + "/processed_data/" + export_filename

In [14]:
export_path

'/home/app/notebook/data/processed_data/data.csv'

In [15]:
df.to_csv(export_path, index = None, header=True)